<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.garden.life.commons.mapper.BookMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.garden.life.commons.domain.Book">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="nickname" property="nickname"/>
        <result column="book_name" property="bookName"/>
        <result column="remark" property="remark"/>
        <result column="detail" property="detail"/>
        <result column="status" property="status"/>
        <result column="contract_way" property="contractWay"/>
    </resultMap>

</mapper>
