<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.garden.life.commons.mapper.NotificationMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.garden.life.commons.domain.Notification">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="nickname" property="nickname"/>
        <result column="socpe_id" property="socpeId"/>
        <result column="scope_type" property="scopeType"/>
        <result column="content" property="content"/>
        <result column="status" property="status"/>
        <result column="checker_id" property="checkerId"/>
    </resultMap>

</mapper>
