<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.garden.life.commons.mapper.UserMapper">
    <resultMap id="userDetail" type="com.garden.life.commons.beans.UserDetailDTO">
        <id column="id" property="id" />
        <result column="account" property="account" />
        <result column="nickname" property="nickname" />
        <result column="password" property="password" />
        <result column="class_id" property="classId" />
        <result column="class_name" property="className" />
        <result column="role_id" property="roleId" />
        <result column="update_time" property="updateTime" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <select id="queryUserDetailByAccount" resultMap="userDetail">
        SELECT u.*, c.class_name
        FROM (SELECT id, account, nickname, password, class_id, role_id, update_time, create_time
                      FROM user) AS u
        LEFT JOIN class AS c
        ON u.class_id = c.id
        WHERE u.account = #{account};
    </select>

</mapper>