<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.garden.life.commons.mapper.VoteItemMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.garden.life.commons.domain.VoteItem">
        <id column="id" property="id"/>
        <result column="item_content" property="itemContent"/>
        <result column="item_addition" property="itemAddition"/>
        <result column="vote_id" property="voteId"/>
    </resultMap>

</mapper>
